.background {
    /* The image used */
    background-image: url("/images/beer.jpg");
  
    /* Set a specific height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  Table th, td {
      color: black;
      font-size: 1.75vw;
      background-color: #ffffff;
  border: 1px solid rgb(214, 9, 9);
  opacity: 0.6;
  }

  h1 {
      font-size: 7vw;
      text-align: center;
      font-family: cursive;
      color: black;
      margin: 30px;
  background-color: #ffffff;
  border: 1px solid white;
  opacity: 0.6;
  }

  div.transbox p {
    margin: 5%;
    font-weight: bold;
    
  }