body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.form {
    background-color: #f5efef;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #242727;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #71775a;
}

.link-button {
    background:none;
    color:whitesmoke;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
    font-size: 20px;
} 

.background {
    background-image: url("/images/beer.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  th, td {
      color: black;
      font-size: 22px;
      background-color: #ffffff;
      border: 1px solid white(214, 9, 9);
      opacity: 0.6;
  }

  .heading {
      font-size: 130px;
      text-align: center;
      font-family: cursive;
      color: black;
      margin: 30px;
      background-color: #ffffff;
      border: 1px solid white;
      opacity: 0.6;
      width: 520px;
      height: 170px;
      margin-left: 270px;
  }

  div.transbox p {
    margin: 5%;
    font-weight: bold;
  }

  .container {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .beerForm {
      margin: 0 auto;
      width: 400px;
      padding-top: 130px;
      
  }

  .formImage {
    background-image: url("/images/beerclose.jpg");
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .dividerForm{
    width:20px;
    height:auto;
    display:inline-block;
  }

  .formLabel {
    font-size: 19px;
    font-weight: bold;
    color: whitesmoke;
  }

  .formHeading {
      color: black;
      font-family: cursive;
      font-size: 60px;
  }

  .formHeadingEdit {
    color: black;
    font-family: cursive;
    font-size: 58px;
  }

  .comments {
    display: inline-block;
    width: 140px;
  }