.loginPicture {
    background-image: url("/images/beerhall.jpg");
    height: 10000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }