.registrationPicture {
    background-image: url("/images/brewery.jpg");
    height: 2000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}